.ai-color-switch {
	border: none;
	background-color: inherit;
	margin: 0.25em 0;
	padding: 0;

	.ai-color-targ {
		width: var(--ai-color-switch-size);
		height: var(--ai-color-switch-size);
		border-radius: 50%;
		transition: all var(--ai-color-switch-tr-sec) ease-in-out;
		pointer-events: none;
		margin: auto;
	}
	.ai-color-targ-0 {
		border: calc(var(--ai-color-switch-size) / 2) solid var(--ai-color-switch-color);
	}
	.ai-color-targ-1 {
		background-color: var(--ai-color-switch-color);
		border: 1px solid var(--ai-color-switch-color);
	}
}
