@use 'sass:map';
@use '../../node_modules/bootstrap/scss/bootstrap.scss' as bs;

.accordion-body {
	--code-color: var(--bs-pink);
	transition: all var(--tr-sec) ease-in-out;

	code {
		color: var(--code-color) !important;
		transition: all var(--tr-sec) ease-in-out;
	}
}

.line-sheen-accordion {
	--bs-pink-light: #{map.get(bs.$pinks, 'pink-400')};
	--bs-blue-light: #{map.get(bs.$blues, 'blue-400')};
	--bs-orange-light: #{map.get(bs.$oranges, 'orange-400')};
	--bs-purple-light: #{map.get(bs.$purples, 'purple-400')};
	--bs-green-light: #{map.get(bs.$greens, 'green-400')};

	--bs-pink-dark: #{map.get(bs.$pinks, 'pink-800')};
	--bs-blue-dark: #{map.get(bs.$blues, 'blue-800')};
	--bs-orange-dark: #{map.get(bs.$oranges, 'orange-800')};
	--bs-purple-dark: #{map.get(bs.$purples, 'purple-800')};
	--bs-green-dark: #{map.get(bs.$greens, 'green-800')};
}

.rounded-line {
	#ai-line-sheen-line {
		border-radius: 2px !important;
	}
}
