@use 'sass:list';

$locs: (12px, 0), (6px, -10.4px), (-6px, -10.4px), (-12px, 0), (-6px, 10.4px), (6px, 10.4px);
$tr-pcts: (42%, 67%), (28%, 53%), (14%, 34%), (0%, 20%), (70%, 100%), (56%, 86%);

@mixin animate($name, $duration, $method) {
	@keyframes #{$name} {
		@content;
	}
	animation-name: $name;
	animation-duration: $duration;
	animation-timing-function: $method;
	// @include webkit-animate(webkit-#{$name}, $duration, $method) { @content; }
}
@mixin webkit-animate($name, $duration, $method) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	-webkit-animation-name: $name;
	-webkit-animation-duration: $duration;
	-webkit-animation-timing-function: $method;
}
@mixin std-webkit-transition($tr-sec) {
	transition: all $tr-sec ease-in-out;
	-webkit-transition: all $tr-sec ease-in-out;
}
.ai-dark-mode-switch {
	border: none;
	background-color: inherit;
	margin: 0.25em 0;
	padding: 0;

	svg {
		transition: all var(--tr-sec) ease-in-out;
		-webkit-transition: none;
		#moon {
			fill: var(--theme-anim);
			@include std-webkit-transition(calc(var(--tr-sec) / 3));
		}
		#moon-mask {
			> circle {
				fill: #000;
				@include std-webkit-transition(calc(var(--tr-sec) / 3));
			}
			> rect {
				fill: #fff;
			}
		}

		g > circle {
			fill: var(--theme-anim);
		}
		#dots-mask {
			> circle {
				fill: #000;
				@include std-webkit-transition(calc(var(--tr-sec) / 3));
			}
			> rect {
				fill: #fff;
			}
		}
	}
}
.ai-dark-mode-switch-sun {
	svg {
		@for $i from 1 through 6 {
			#spot-#{$i} {
				transform: translate(0, 0);
				-webkit-transform: translate(0, 0);
				@include animate(spot-#{$i}-reveal, var(--ai-dark-mode-anim-len), ease-in-out) {
					0% {
						transform: translate(#{list.nth($locs, $i)});
						-webkit-transform: translate(#{list.nth($locs, $i)});
					}
					#{list.nth(list.nth($tr-pcts, $i), 1)} {
						transform: translate(#{list.nth($locs, $i)});
						-webkit-transform: translate(#{list.nth($locs, $i)});
					}
					#{list.nth(list.nth($tr-pcts, $i), 2)} {
						transform: translate(0, 0);
						-webkit-transform: translate(0, 0);
					}
					100% {
						transform: translate(0, 0);
						-webkit-transform: translate(0, 0);
					}
				}
			}
		}
		transform: rotate(210deg);
		-webkit-transform: rotate(210deg);
		@include animate(sun-spin, calc(var(--tr-sec) * 0.85), ease-in-out) {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(210deg);
			}
		}
		#moon-mask > circle {
			transform: translateX(15px);
			-webkit-transform: translateX(15px);
		}
		> g {
			--ai-dark-mode-anim-len: calc(var(--tr-sec) * 2 / 3);
		}
	}
}
.ai-dark-mode-switch-moon {
	svg {
		// transform: rotate(0deg);
		// -webkit-transform: rotate(0deg);
		@include animate(moon-sway, var(--tr-sec), ease-in-out) {
			0% {
				transform: rotate(135deg);
				-webkit-transform: rotate(135deg);
			}
			40% {
				transform: rotate(-15deg);
				-webkit-transform: rotate(-15deg);
			}
			70% {
				transform: rotate(15deg);
				-webkit-transform: rotate(15deg);
			}
			100% {
				transform: rotate(0deg);
				-webkit-transform: rotate(0deg);
			}
		}
		#moon-mask > circle {
			transform: translateX(0);
			-webkit-transform: translateX(0);
		}
		> g {
			@for $i from 1 through 6 {
				#spot-#{$i} {
					transform: translate(#{list.nth($locs, $i)});
					-webkit-transform: translate(#{list.nth($locs, $i)});
				}
			}
		}
	}
}
.ai-dark-mode-switch-sun:hover {
	#moon {
		fill: #000 !important;
	}
	g > circle {
		fill: #000 !important;
	}
}
.ai-dark-mode-switch-moon:hover {
	#moon {
		fill: #fff !important;
	}
	g > circle {
		fill: #fff !important;
	}
}
